.header {
  padding: 8px 0;
  position: fixed;
  z-index: 999;
  width: 100%;

  &__action {
    @media screen and (max-width: 520px) {
      display: none;
    }
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    color: black;
  }

  &-menu {
    display: flex;
    gap: 28px;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      a {
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: -1%;

        &:hover {
          color: var(--primary);
        }
      }
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__cta {
    display: flex;
    gap: 8px;
    align-items: center;

    &-link {
      display: inline-block;
      padding: 16px 28px;
      background-color: var(--primary);
      color: #fff;
      text-decoration: none;
      border-radius: 30px;

      &:hover {
        background-color: rgba(255, 142, 0, 0.93);
      }

      @media screen and (max-width: 390px) {
        display: none;
      }
    }
  }

  &.header--dark {
    background-color: #f7f7f7;

    svg path {
      fill: black;
    }

    .header-menu-item a {
      color: black;

      &:hover {
        color: var(--primary);
      }
    }
  }

  &.scrolled:not(.header--dark) {
    background-color: #f7f7f7;

    svg path {
      fill: black; // Изменение цвета SVG на черный
    }

    .header-menu-item a {
      color: black; // Изменение цвета текста меню на черный

      &:hover {
        color: var(--primary);
      }
    }
  }
}

.hamburger {
  display: none;
  width: 51px;
  height: 51px;
  background: rgba(255, 255, 255, 1);
  border-radius: 360px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    display: flex;
  }
}
