.page {
  &__button {
    text-align: center;

    a {
      display: inline-block;
      padding: 16px 28px;
      background-color: var(--primary);
      color: #fff;
      text-decoration: none;
      border-radius: 30px;
      margin-top: 40px;
      margin-bottom: 100px;

      @media screen and (max-width: 678px) {
        margin-top: 36px;
        padding: 12px 20px;
        margin-bottom: 60px;
      }

      @media screen and (max-width: 520px) {
        margin-top: 36px;
        padding: 12px 20px;
        margin-bottom: 48px;
      }
    }
  }

  &__title {
    padding-top: 36px;
    padding-bottom: 36px;

    h1 {
      font-size: 36px;
      line-height: 43.57px;
      font-weight: 600;
      margin-bottom: 24px;
      color: #000;
    }
  }
}
