.vakansiya {
  &__top {
    padding: 24px;
    border-radius: 24px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @media screen and (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  &__title {
    margin-bottom: 16px;

    h1 {
      font-size: 36px;
      line-height: 43.57px;
      font-weight: 600;

      @media screen and (max-width: 768px) {
        font-size: 32px;
        line-height: 38.73px;
      }

      @media screen and (max-width: 620px) {
        font-size: 24px;
        line-height: 29.05px;
      }
    }
  }

  &__info {
    display: flex;
    gap: 16px;
    align-items: center;

    @media screen and (max-width: 620px) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__price {
    span {
      color: rgba(255, 142, 0, 1);
      font-size: 20px;
      line-height: 24.2px;
      font-weight: 600;

      @media screen and (max-width: 620px) {
        font-size: 18px;
        line-height: 21.78px;
      }
    }
  }

  &__s2 {
    display: flex;
    gap: 8px;

    span {
      background: rgba(247, 247, 247, 1);
      color: rgba(0, 0, 0, 1);
      border-radius: 8px;
      padding: 4px 12px;
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &__right {
    @media screen and (max-width: 620px) {
      display: none;
    }

    img {
      width: 92px;
      height: 92px;
      border-radius: 100px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }

  &__text {
    background: #fff;
    border-radius: 24px;
    padding: 24px;
  }

  &__t {
    margin-bottom: 16px;

    span {
      color: rgba(0, 0, 0, 1);
      font-size: 24px;
      font-weight: 600;
      line-height: 29.05px;

      @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 24.2px;
      }
    }
  }

  &__d {
    ul {
      padding-left: 24px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }

    li {
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    p {
      display: block;
      color: rgba(0, 0, 0, 0.6);
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__contact {
    margin-top: 24px;
    background: #fff;
    padding: 24px;
    border-radius: 24px;

    @media screen and (max-width: 768px) {
      margin-top: 16px;
    }
  }
}

.vcontact {
  &__title {
    margin-bottom: 24px;

    @media screen and (max-width: 620px) {
      text-align: center;
    }

    span {
      color: rgba(0, 0, 0, 1);
      font-size: 24px;
      font-weight: 600;
      line-height: 29.05px;

      @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 24.2px;
      }
    }
  }

  &__two {
    display: flex;
    gap: 12px;

    @media screen and (max-width: 620px) {
      flex-direction: column;
    }

    input {
      border: 0;
      padding: 16px 20px;
      border-radius: 30px;
      background: rgba(240, 240, 240, 1);
      color: rgba(131, 131, 131, 1);
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      width: -webkit-fill-available;
    }
  }

  &__input {
    margin-top: 12px;

    input {
      border: 0;
      padding: 16px 20px;
      border-radius: 30px;
      background: rgba(240, 240, 240, 1);
      color: rgba(131, 131, 131, 1);
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      width: -webkit-fill-available;
    }
  }

  &__submit {
    input {
      width: 100%;
      display: inline-block;
      padding: 16px 28px;
      background-color: var(--primary);
      color: #fff;
      text-decoration: none;
      border-radius: 30px;
      border: 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      margin-top: 24px;
      cursor: pointer;

      &:hover {
        background: rgba(255, 142, 0, 0.93);
      }
    }
  }
}
