.events-page {
  padding-top: 0;

  &__title {
    padding-top: 36px;
    padding-bottom: 36px;

    h1 {
      font-size: 36px;
      line-height: 43.57px;
      font-weight: 600;
      margin-bottom: 24px;
      color: #000;
    }
  }
}
