.footer-button {
  &__primary {
    display: flex;

    a {
      font-size: 16px;
      line-height: 19.36px;
      display: inline-block;
      padding: 14px 18px;
      background-color: var(--primary);
      color: #fff;
      text-decoration: none;
      border-radius: 30px;
      text-align: center;
      width: 100%;
      font-weight: 500;
    }
  }
}

.footer-button__secondary {
  display: flex;

  a {
    font-size: 16px;
    line-height: 19.36px;
    display: inline-block;
    padding: 14px 18px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    width: 100%;

    &:hover {
      border: 1px solid var(--primary);
      color: var(--primary);
    }
  }
}
