.partners {
  &__title {
    font-size: 36px;
    line-height: 43.57px;
    font-weight: 600;
    margin-bottom: 36px;
    color: #000;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 33.89px;
    }

    @media (max-width: 520px) {
      font-size: 20px;
      line-height: 24.2px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 логотипа в ряд */
    gap: 20px;
    justify-items: center;
    align-items: center;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr); /* 3 логотипа в ряд на планшетах */
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    @media (max-width: 520px) {
      grid-template-columns: repeat(2, 1fr); /* 1 логотип в ряд на мобильных */
      gap: 28px;
    }
  }

  &__item {
    max-width: 150px;
    height: auto;
    filter: grayscale(100%); /* Черно-белый эффект */
    transition: filter 0.3s ease; /* Плавный переход */
    opacity: 0.5;

    &:hover {
      opacity: 1;
      filter: none; /* Цветное изображение при наведении */
    }
  }
}
