.partners-names {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Сетка из 4 колонок */
  gap: 24px; /* Расстояние между элементами */

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 520px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__divider {
    height: 19px;
    width: 2px;
    background-color: var(--primary);
    border-radius: 4px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
  }

  &__since {
    color: #00000080;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
}

.partnery-wrap {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @media screen and (max-width: 1024px) {
    gap: 80px;
  }

  @media screen and (max-width: 768px) {
    gap: 60px;
  }

  @media screen and (max-width: 520px) {
    gap: 48px;
  }
}

.aloil-container-partners {
  position: relative; /* Обертка для позиционирования */
}

.aloil-color-partners {
  max-width: 100%;
  transition: opacity 0.3s ease; /* Плавный переход */
  opacity: 0;

  @media (max-width: 520px) {
    max-width: 100px;
  }
}

.aloil-bw-partners {
  max-width: 100%;
  transition: opacity 0.3s ease; /* Плавный переход */
  position: absolute;

  @media (max-width: 520px) {
    max-width: 100px;
  }
}

.aloil-container-partners:hover .aloil-bw-partners {
  opacity: 0;

  @media (max-width: 1024px) {
    opacity: 1;
  }
}

.aloil-container-partners:hover .aloil-color-partners {
  opacity: 1;

  @media (max-width: 1024px) {
    opacity: 0;
  }
}
