.btn {
  &_primary {
    display: inline-block;
    padding: 16px 28px;
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-content: center;

    &:hover {
      background-color: rgba(255, 142, 0, 0.93);
    }

    @media screen and (max-width: 768px) {
      padding: 14px 20px;
    }
  }

  &_wdth {
    width: fit-content;
  }
}
